n8n/templates/per-user-post.if-variant.workflow.json
{
  "name": "Per-User Post via Webhook (Template - IF Variant)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "to-be-overridden-by-provision",
        "responseMode": "responseNode",
        "responseData": ""
      },
      "name": "Inbound Post (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 250]
    },
    {
      "parameters": {
        "functionCode": "// Validate and normalize input\nconst body = items[0].json || {};\nconst content = body.content_text || body.content || '';\nlet platform = (body.platform || '').toLowerCase();\nif (platform === 'x') platform = 'twitter';\nif (!content || !platform) {\n  return [{ json: { success: false, error: 'Missing content_text or platform' } }];\n}\nconst media = Array.isArray(body.media) ? body.media : (body.media ? [body.media] : []);\nreturn [{ json: { content_text: content, platform, media, raw: body } }];"
      },
      "name": "Validate / Normalize",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [520, 250]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.platform}}",
              "operation": "equal",
              "value2": "twitter"
            }
          ]
        }
      },
      "name": "IF Twitter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [780, 150]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.platform}}",
              "operation": "equal",
              "value2": "facebook"
            }
          ]
        }
      },
      "name": "IF Facebook",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [780, 350]
    },
    {
      "parameters": {
        "resource": "tweet",
        "operation": "create",
        "text": "={{$json.content_text || $json.content?.text}}"
      },
      "name": "Post Tweet",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [1040, 150],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "__REPLACED_AT_CLONE__",
          "name": "__REPLACED_AT_CLONE__"
        }
      }
    },
    {
      "parameters": {
        "resource": "pagePost",
        "operation": "create",
        "message": "={{$json.content_text || $json.content?.text}}"
      },
      "name": "Post Facebook Page",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [1040, 350],
      "credentials": {
        "facebookGraphApi": {
          "id": "__REPLACED_AT_CLONE__",
          "name": "__REPLACED_AT_CLONE__"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Normalize result\nconst res = items[0].json || {};\nconst id = res.id || res.externalPostId || res.data?.id || null;\nreturn [{ json: { success: true, externalPostId: id, raw: res } }];"
      },
      "name": "Normalize Result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1300, 250]
    },
    {
      "parameters": {
        "responseBody": "={{$json}}",
        "responseCode": 200
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1550, 250]
    }
  ],
  "connections": {
    "Inbound Post (Webhook)": {
      "main": [ [ { "node": "Validate / Normalize", "type": "main", "index": 0 } ] ]
    },
    "Validate / Normalize": {
      "main": [
        [ { "node": "IF Twitter", "type": "main", "index": 0 } ],
        [ { "node": "IF Facebook", "type": "main", "index": 0 } ]
      ]
    },
    "IF Twitter": {
      "main": [
        [ { "node": "Post Tweet", "type": "main", "index": 0 } ],
        [ ]
      ]
    },
    "IF Facebook": {
      "main": [
        [ { "node": "Post Facebook Page", "type": "main", "index": 0 } ],
        [ ]
      ]
    },
    "Post Tweet": {
      "main": [ [ { "node": "Normalize Result", "type": "main", "index": 0 } ] ]
    },
    "Post Facebook Page": {
      "main": [ [ { "node": "Normalize Result", "type": "main", "index": 0 } ] ]
    },
    "Normalize Result": {
      "main": [ [ { "node": "Respond", "type": "main", "index": 0 } ] ]
    }
  },
  "active": false,
  "settings": {},
  "staticData": null,
  "staticTemplates": []
}
