n8n/templates/per-user-post.workflow.json
{
  "name": "Per-User Post via Webhook (Template)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "to-be-overridden-by-provision",
        "responseMode": "responseNode",
        "responseData": "",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Inbound Post (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 250]
    },
    {
      "parameters": {
        "functionCode": "// Validate and normalize input\nconst body = items[0].json || {};\nconst content = body.content_text || body.content || '';\nconst platform = (body.platform || '').toLowerCase();\nif (!content || !platform) {\n  return [{ json: { success: false, error: 'Missing content_text or platform' } }];\n}\n// Optional: media URLs\nconst media = Array.isArray(body.media) ? body.media : (body.media ? [body.media] : []);\nreturn [{ json: { content_text: content, platform, media, raw: body } }];"
      },
      "name": "Validate / Normalize",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [520, 250]
    },
    {
      "parameters": {
        "functionCode": "// Map platform to endpoint and build request body\nconst { platform, content_text, media } = items[0].json;\nlet url = '';\nlet method = 'POST';\nlet body = {};\nif (platform === 'facebook') {\n  // Example: Replace with your Page/Graph endpoint logic\n  // The credential supplies Authorization: Bearer <token> header\n  url = 'https://graph.facebook.com/v18.0/me/feed';\n  body = { message: content_text };\n  // For media posting, you would use /photos or /videos endpoints\n} else if (platform === 'x' || platform === 'twitter') {\n  // Example Twitter v2, adjust for your use (OAuth2 user context)\n  url = 'https://api.twitter.com/2/tweets';\n  body = { text: content_text };\n} else {\n  // Generic endpoint passed from caller (advanced)\n  url = items[0].json.raw.platformEndpoint || '';\n  body = items[0].json.raw.platformBody || { content: content_text };\n}\nreturn [{ json: { url, method, body } }];"
      },
      "name": "Build Request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [780, 250]
    },
    {
      "parameters": {
        "requestMethod": "={{$json.method || 'POST'}}",
        "url": "={{$json.url}}",
        "jsonBody": true,
        "options": {},
        "sendBody": true,
        "bodyParametersJson": "={{$json.body}}"
      },
      "name": "Post to Platform (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [1040, 250],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "{{CRED_PLACEHOLDER}}"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Normalize result\nconst res = items[0].json || {};\n// Try common id fields\nconst id = res.id || res.externalPostId || res.data?.id || null;\nreturn [{ json: { success: true, externalPostId: id, raw: res } }];"
      },
      "name": "Normalize Result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1300, 250]
    },
    {
      "parameters": {
        "responseBody": "={{$json}}",
        "responseCode": 200
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1550, 250]
    }
  ],
  "connections": {
    "Inbound Post (Webhook)": {
      "main": [
        [
          {
            "node": "Validate / Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate / Normalize": {
      "main": [
        [
          {
            "node": "Build Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Request": {
      "main": [
        [
          {
            "node": "Post to Platform (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Platform (HTTP)": {
      "main": [
        [
          {
            "node": "Normalize Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Result": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "staticData": null,
  "staticTemplates": []
}
