n8n/create-content.mock.workflow.json
{
  "name": "Create Content (Mock Only)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-content",
        "respond": true,
        "responseMode": "responseNode",
        "options": {},
        "authentication": "none"
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        280,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Normalize and build a pure-mock payload without calling any external service\nconst prompt = $json.prompt || ''\nconst tone = $json.tone || 'than thien'\nconst length = $json.length || 'ngan'\nconst platform = $json.platform || 'facebook'\n\nconst presets = {\n  facebook: {\n    content_text: `🚀 ${prompt}\n\nKhám phá giải pháp giúp doanh nghiệp bứt phá!`,\n    hashtags: ['#Innovation','#Business','#Growth','#Success'],\n    suggested_images: ['/placeholder.jpg']\n  },\n  instagram: {\n    content_text: `✨ ${prompt}\n\n#InstaGood #Lifestyle #Trending`,\n    hashtags: ['#InstaGood','#Lifestyle','#Trending','#Motivation'],\n    suggested_images: ['/placeholder.jpg','/placeholder.jpg']\n  },\n  twitter: {\n    content_text: `🔥 ${prompt} — Tương lai đã đến!`,\n    hashtags: ['#Tech','#Innovation','#Business'],\n    suggested_images: ['/placeholder.jpg']\n  },\n  linkedin: {\n    content_text: `${prompt}\n\nCác chiến lược đổi mới giúp doanh nghiệp bứt phá bền vững.`,\n    hashtags: ['#BusinessStrategy','#Innovation','#Growth','#Leadership'],\n    suggested_images: ['/placeholder.jpg']\n  }\n}\n\nconst preset = presets[platform] || presets.facebook\nreturn [{ json: { success: true, data: { ...preset, platform, tone, length, generatedAt: new Date().toISOString() } } }]"
      },
      "id": "MockContent",
      "name": "Mock Output",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "responseBody": "={{$json}}",
        "responseCode": 200
      },
      "id": "RespondOK",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Mock Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Output": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "staticData": null,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetup": []
  }
}
