n8n/create-content.from-draft.workflow.json
{
  "name": "Create Content (AI Draft v2 - RespondNode)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-content",
        "respond": true,
        "responseMode": "responseNode",
        "options": {},
        "authentication": "none"
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        280,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Build a draft content JSON based on input without external AI.\n// Reads payload from $json.body (n8n Webhook default) or root if absent. Parses string body safely.\n// Varies content by platform and echoes received inputs for debugging.\n\n// Normalize input\nconst bodyRaw = $json.body\nlet input = {}\nif (bodyRaw && typeof bodyRaw === 'string') {\n  try { input = JSON.parse(bodyRaw) } catch { input = {} }\n} else if (bodyRaw && typeof bodyRaw === 'object') {\n  input = bodyRaw\n} else {\n  input = $json || {}\n}\n\nconst prompt = input.prompt || ''\nconst tone = input.tone || 'friendly'\nconst length = input.length || 'short'\nconst platform = (input.platform || 'facebook').toLowerCase()\n\nconst presets = {\n  facebook: (p) => `🚀 ${p}\n\nBản nháp cho Facebook — ngắn gọn, dễ tương tác.`,\n  instagram: (p) => `✨ ${p}\n\nPhong cách IG: cảm hứng, giàu cảm xúc, kèm emoji.`,\n  linkedin: (p) => `${p}\n\nGiọng chuyên nghiệp, nhấn mạnh giá trị kinh doanh.`,\n  twitter: (p) => `🔥 ${p} — súc tích, bắt trend nhanh.`,\n  tiktok: (p) => `🎵 ${p}\n\nTikTok vibe: mở đầu bắt tai, câu súc tích, kêu gọi hành động nhanh.`,\n  youtube: (p) => `▶️ ${p}\n\nYouTube style: mở bài rõ ràng, dàn ý 3-5 ý chính, CTA ở cuối.`,\n}\n\nfunction pickHashtags(p) {\n  const map = {\n    facebook: ['#Marketing','#Business','#Growth','#AI'],\n    instagram: ['#InstaGood','#Lifestyle','#Trending','#AI'],\n    linkedin: ['#Leadership','#Innovation','#Strategy','#AI'],\n    twitter: ['#Tech','#AI','#Startup','#Biz'],\n    tiktok: ['#TikTok','#Viral','#ForYou','#AI'],\n    youtube: ['#YouTube','#Creator','#Video','#AI']\n  }\n  return map[p] || map.facebook\n}\n\nconst builder = presets[platform] || presets.facebook\nconst content_text = builder(prompt) + `\n\n(Tone: ${tone}, Length: ${length}, Platform: ${platform})`\nconst hashtags = pickHashtags(platform)\nconst suggested_images = ['/placeholder.jpg']\n\nreturn [{ json: { success: true, received: { prompt, tone, length, platform }, data: { content_text, hashtags, suggested_images, platform, tone, length, generatedAt: new Date().toISOString() } } }]"
      },
      "id": "AssembleDraft",
      "name": "Assemble Draft Content",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "responseBody": "={{$json}}",
        "responseCode": 200
      },
      "id": "RespondOK",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        840,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Assemble Draft Content", "type": "main", "index": 0 }
        ]
      ]
    },
    "Assemble Draft Content": {
      "main": [
        [
          { "node": "Respond 200", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "staticData": null,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetup": [] }
}
