n8n/Publish Posts (Poll + ACK + Execute).json
{
  "name": "template",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "user-cmi9xc7ti000183bqo11mgc6s-1763801700847",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Inbound Post (Webhook)1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -320,
        -128
      ],
      "id": "c507c83f-1ae4-49f2-8d27-b10c82b88cfe",
      "webhookId": "4f26a6d4-fa78-4d0e-bbec-40c97bc44e08"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1712,
        -160
      ],
      "id": "aa538d66-3c38-4d5e-8928-a15166425056"
    },
    {
      "parameters": {
        "functionCode": "// Fan-out platforms: emit one item per requested platform\nconst raw = (items[0].json.body) ? items[0].json.body : items[0].json;\nconst content = raw.content_text || raw.content || '';\nlet platforms = Array.isArray(raw.platforms) ? raw.platforms.filter(p=>p) : (raw.platform ? [raw.platform] : []);\nplatforms = platforms.map(p=>String(p).toLowerCase());\nif (!platforms.length) platforms = ['facebook'];\nlet media = [];\nif (Array.isArray(raw.media)) media = raw.media.filter(u=> typeof u === 'string' && /^https?:/.test(u));\nelse if (typeof raw.media === 'string' && /^https?:/.test(raw.media)) media = [raw.media];\nconst hashtags = Array.isArray(raw.hashtags) ? raw.hashtags.filter(h=> typeof h === 'string') : (typeof raw.hashtags === 'string' ? raw.hashtags.split(/\\s+/).filter(s=>s.startsWith('#')) : []);\nreturn platforms.map(p=>({ json: { content_text: content, platform: p, media, hasImage: !!media[0], hashtags } }));"
      },
      "name": "Fanout Platforms",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -48,
        -128
      ],
      "id": "68b9fa3c-73d8-43f7-898a-360a55eec70b"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.platform}}",
                    "rightValue": "facebook",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fb"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.platform}}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ig"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.platform}}",
                    "rightValue": "twitter",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "tw"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0f59d49c-756f-4dcf-afbe-07316b48bfd2",
                    "leftValue": "={{$json.platform}}",
                    "rightValue": "linkedin",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "name": "Switch Platform",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        224,
        -144
      ],
      "id": "521244a9-524f-49bd-946f-0b3d3ba1aa63"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.hasImage}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF FB Has Image",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        432,
        -352
      ],
      "id": "d9562187-093f-4859-9fb7-752b026f711d"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{$json.content_text}}"
              }
            ]
          }
        }
      },
      "name": "Post Facebook Feed",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        656,
        -256
      ],
      "id": "897f132f-bd8b-4007-a6c6-55db45eccf84",
      "credentials": {
        "facebookGraphApi": {
          "id": "Wd2AJrsjyrf1eXsb",
          "name": "Facebook Graph account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841449301482656",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "caption",
                "value": "={{ $json.content_text }}"
              },
              {
                "name": "image_url",
                "value": "={{ $json.media[0] }}"
              }
            ]
          }
        }
      },
      "name": "Create Instagram Media",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        512,
        -48
      ],
      "id": "83a0ccfe-07c5-4403-aaf7-a252b5cad2c5",
      "credentials": {
        "facebookGraphApi": {
          "id": "EfUlGSmnRRJ1xPnt",
          "name": "insta"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841449301482656",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{$json.id}}"
              }
            ]
          }
        }
      },
      "name": "Publish Instagram Media",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        736,
        -48
      ],
      "id": "b5d35acf-a85d-486a-adb0-e2ac516a42f6",
      "credentials": {
        "facebookGraphApi": {
          "id": "EfUlGSmnRRJ1xPnt",
          "name": "insta"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "text": "={{$json.content_text}}",
        "additionalFields": {}
      },
      "name": "Post Tweet",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        512,
        256
      ],
      "id": "1123472c-cb97-4464-96f8-1320b72b57b8",
      "disabled": true
    },
    {
      "parameters": {
        "functionCode": "// Standardize platform result\nconst inJson = items[0].json;\nconst raw = inJson || {};\nconst id = raw.id || raw.postId || raw.externalPostId || raw.creation_id || null;\nreturn [{ json: { platform: raw.platform || $json.platform || 'unknown', success: !raw.error, externalPostId: id, error: raw.error || null, raw } }];"
      },
      "name": "Normalize Result FB Photo",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        912,
        -464
      ],
      "id": "6c72b3f3-0b39-469e-8938-3ad52b1ff888"
    },
    {
      "parameters": {
        "functionCode": "const r = items[0].json; const id = r.id || r.postId || r.externalPostId || null; return [{ json: { platform: 'facebook', success: !r.error, externalPostId: id, error: r.error || null, raw: r } }];"
      },
      "name": "Normalize Result FB Feed",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        928,
        -256
      ],
      "id": "cca35c3b-dd07-44fd-a0d7-d40792eb492a"
    },
    {
      "parameters": {
        "functionCode": "const r = items[0].json; const id = r.id || r.externalPostId || null; return [{ json: { platform: 'instagram', success: !r.error, externalPostId: id, error: r.error || null, raw: r } }];"
      },
      "name": "Result IG Publish",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        960,
        -48
      ],
      "id": "9d3e2921-febc-4d30-b80b-d3de55ea539b"
    },
    {
      "parameters": {
        "functionCode": "const r = items[0].json; return [{ json: { platform: 'twitter', success: !r.error, externalPostId: r.id || null, error: r.error || null, raw: r } }];"
      },
      "name": "Result Twitter",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        752,
        256
      ],
      "id": "f6af5e18-96a0-45e1-87e4-6365ae2b3dd0",
      "disabled": true
    },
    {
      "parameters": {
        "functionCode": "// Aggregate accepts variable number of platform result items.\n// Each incoming item already normalized.\nif (!items || !items.length) {\n  return [{ json: { success: true, results: [], warning: 'No platform results' } }];\n}\nreturn [{ json: { success: true, results: items.map(i => i.json) } }];"
      },
      "name": "Aggregate",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1424,
        -160
      ],
      "id": "3da863ca-e1a9-4cb7-a132-337c9151f122"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "url",
                "value": "={{$json.media[0]}}"
              },
              {
                "name": "caption",
                "value": "={{$json.content_text}}"
              }
            ]
          }
        }
      },
      "name": "Post Facebook Photo1",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        656,
        -464
      ],
      "id": "e07acb3c-e32d-4ecd-940c-32ece400b9a9",
      "credentials": {
        "facebookGraphApi": {
          "id": "Wd2AJrsjyrf1eXsb",
          "name": "Facebook Graph account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "person": "113sxgyXnQ",
        "text": "test",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        832,
        496
      ],
      "id": "14c7dd85-5e84-4f94-bfb6-1eb1ce138956",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "We6gD8YCpdPEhvGS",
          "name": "test linkedin"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "person": "113sxgyXnQ",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        832,
        704
      ],
      "id": "680e11ee-043f-41dc-9965-53d8d36f8103",
      "name": "Create a post1",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.hasImage}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF Has Image1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        448,
        560
      ],
      "id": "55b56d62-a515-43a8-88c1-873bc8d4b2a7"
    }
  ],
  "pinData": {},
  "connections": {
    "Inbound Post (Webhook)1": {
      "main": [
        [
          {
            "node": "Fanout Platforms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fanout Platforms": {
      "main": [
        [
          {
            "node": "Switch Platform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Platform": {
      "main": [
        [
          {
            "node": "IF FB Has Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Instagram Media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Tweet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Has Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF FB Has Image": {
      "main": [
        [
          {
            "node": "Post Facebook Photo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Facebook Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Facebook Feed": {
      "main": [
        [
          {
            "node": "Normalize Result FB Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Instagram Media": {
      "main": [
        [
          {
            "node": "Publish Instagram Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Instagram Media": {
      "main": [
        [
          {
            "node": "Result IG Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Result IG Publish": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Result FB Photo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Result FB Feed": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Tweet": {
      "main": [
        [
          {
            "node": "Result Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Result Twitter": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Facebook Photo1": {
      "main": [
        [
          {
            "node": "Normalize Result FB Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Image1": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a post1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c64e49ec-623d-4b37-8215-87f49f3f7de5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7435dce5e82963b5917f5dd085e640d9e48f3eee1559038e5ee2e732f7bb4630"
  },
  "id": "5jeFX00Kl8Q7YfXy",
  "tags": []
}