n8n/user-workflow-template.json
{
  "name": "[USER cmhey82p40001zasn6baulnfj] User Social Post Workflow Template (multi-platform fanout) 1763334143252",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "user-cmhey82p40001zasn6baulnfj-1763334143252", "responseMode": "responseNode", "options": {} },
      "name": "Inbound Post (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ -1820, 0 ],
      "id": "webhook-node"
    },
    {
      "parameters": {
        "functionCode": "// Fan-out platforms: emit one item per requested platform\nconst raw = (items[0].json.body) ? items[0].json.body : items[0].json;\nconst content = raw.content_text || raw.content || '';\nlet platforms = Array.isArray(raw.platforms) ? raw.platforms.filter(p=>p) : (raw.platform ? [raw.platform] : []);\nplatforms = platforms.map(p=>String(p).toLowerCase());\nif (!platforms.length) platforms = ['facebook'];\nlet media = [];\nif (Array.isArray(raw.media)) media = raw.media.filter(u=> typeof u === 'string' && /^https?:/.test(u));\nelse if (typeof raw.media === 'string' && /^https?:/.test(raw.media)) media = [raw.media];\nconst hashtags = Array.isArray(raw.hashtags) ? raw.hashtags.filter(h=> typeof h === 'string') : (typeof raw.hashtags === 'string' ? raw.hashtags.split(/\\s+/).filter(s=>s.startsWith('#')) : []);\nreturn platforms.map(p=>({ json: { content_text: content, platform: p, media, hasImage: !!media[0], hashtags } }));"
      },
      "name": "Fanout Platforms",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [ -1600, 0 ],
      "id": "fanout"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"leftValue": "={{$json.platform}}", "rightValue": "facebook", "operator": {"type": "string", "operation": "equals"}, "id": "fb"}], "combinator": "and"}},
            {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"leftValue": "={{$json.platform}}", "rightValue": "instagram", "operator": {"type": "string", "operation": "equals"}, "id": "ig"}], "combinator": "and"}},
            {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"leftValue": "={{$json.platform}}", "rightValue": "twitter", "operator": {"type": "string", "operation": "equals"}, "id": "tw"}], "combinator": "and"}}
          ]
        }, "options": {}
      },
      "name": "Switch Platform",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [ -1380, 0 ],
      "id": "switch"
    },
    {
      "parameters": {"conditions": {"boolean": [{"value1": "={{$json.hasImage}}", "value2": true}]}},
      "name": "IF FB Has Image",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [ -1180, -140 ],
      "id": "if-fb-image"
    },
    {
      "parameters": {"httpRequestMethod": "POST", "graphApiVersion": "v23.0", "node": "me", "edge": "photos", "options": {"queryParameters": {"parameter": [{"name": "url", "value": "={{$json.media[0]}}"},{"name": "caption", "value": "={{$json.content_text}}"}]}}},
      "name": "Post Facebook Photo",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [ -960, -220 ],
      "id": "fb-photo",
      "credentials": {"facebookGraphApi": {"id": "FACEBOOK_CRED_ID", "name": "Facebook Graph account"}}
    },
    {
      "parameters": {"httpRequestMethod": "POST", "graphApiVersion": "v23.0", "node": "me", "edge": "feed", "options": {"queryParameters": {"parameter": [{"name": "message", "value": "={{$json.content_text}}"}]}}},
      "name": "Post Facebook Feed",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [ -960, -60 ],
      "id": "fb-feed",
      "credentials": {"facebookGraphApi": {"id": "FACEBOOK_CRED_ID", "name": "Facebook Graph account"}}
    },
    {
      "parameters": {"httpRequestMethod": "POST", "graphApiVersion": "v23.0", "node": "me", "edge": "media", "options": {"queryParameters": {"parameter": [{"name": "image_url", "value": "={{$json.media[0] || ''}}"},{"name": "caption", "value": "={{$json.content_text}}"}]}}},
      "name": "Create Instagram Media",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [ -1180, 120 ],
      "id": "ig-create",
      "credentials": {"facebookGraphApi": {"id": "INSTAGRAM_CRED_ID", "name": "Instagram Graph account"}}
    },
    {
      "parameters": {"httpRequestMethod": "POST", "graphApiVersion": "v23.0", "node": "me", "edge": "media_publish", "options": {"queryParameters": {"parameter": [{"name": "creation_id", "value": "={{$json.id}}"}]}}},
      "name": "Publish Instagram Media",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [ -960, 120 ],
      "id": "ig-publish",
      "credentials": {"facebookGraphApi": {"id": "INSTAGRAM_CRED_ID", "name": "Instagram Graph account"}}
    },
    {
      "parameters": {"text": "={{$json.content_text}}", "additionalFields": {}},
      "name": "Post Tweet",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [ -1180, 300 ],
      "id": "tw-post",
      "disabled": true
    },
    {
      "parameters": {"functionCode": "// Standardize platform result\nconst inJson = items[0].json;\nconst raw = inJson || {};\nconst id = raw.id || raw.postId || raw.externalPostId || raw.creation_id || null;\nreturn [{ json: { platform: raw.platform || $json.platform || 'unknown', success: !raw.error, externalPostId: id, error: raw.error || null, raw } }];"},
      "name": "Normalize Result FB Photo",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [ -760, -220 ],
      "id": "norm-fb-photo"
    },
    {
      "parameters": {"functionCode": "const r = items[0].json; const id = r.id || r.postId || r.externalPostId || null; return [{ json: { platform: 'facebook', success: !r.error, externalPostId: id, error: r.error || null, raw: r } }];"},
      "name": "Normalize Result FB Feed",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [ -760, -60 ],
      "id": "norm-fb-feed"
    },
    {
      "parameters": {"functionCode": "const r = items[0].json; const id = r.id || r.externalPostId || null; return [{ json: { platform: 'instagram-create', success: !r.error, externalPostId: id, raw: r } }];"},
      "name": "Result IG Create",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [ -760, 120 ],
      "id": "norm-ig-create"
    },
    {
      "parameters": {"functionCode": "const r = items[0].json; const id = r.id || r.externalPostId || null; return [{ json: { platform: 'instagram', success: !r.error, externalPostId: id, error: r.error || null, raw: r } }];"},
      "name": "Result IG Publish",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [ -560, 120 ],
      "id": "norm-ig-publish"
    },
    {
      "parameters": {"functionCode": "const r = items[0].json; return [{ json: { platform: 'twitter', success: !r.error, externalPostId: r.id || null, error: r.error || null, raw: r } }];"},
      "name": "Result Twitter",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [ -960, 300 ],
      "id": "norm-twitter",
      "disabled": true
    },
    {
      "parameters": {"functionCode": "// Aggregate accepts variable number of platform result items.\n// Each incoming item already normalized.\nif (!items || !items.length) {\n  return [{ json: { success: true, results: [], warning: 'No platform results' } }];\n}\nreturn [{ json: { success: true, results: items.map(i => i.json) } }];"},
      "name": "Aggregate",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [ -160, 0 ],
      "id": "aggregate"
    },
    {
      "parameters": {"options": {}},
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [ 40, 0 ],
      "id": "respond"
    }
  ],
  "connections": {
    "Inbound Post (Webhook)": {"main": [[{"node": "Fanout Platforms", "type": "main", "index": 0}]]},
    "Fanout Platforms": {"main": [[{"node": "Switch Platform", "type": "main", "index": 0}]]},
    "Switch Platform": {"main": [
      [{"node": "IF FB Has Image", "type": "main", "index": 0}],
      [{"node": "Create Instagram Media", "type": "main", "index": 0}],
      [{"node": "Post Tweet", "type": "main", "index": 0}]
    ]},
    "IF FB Has Image": {"main": [
      [{"node": "Post Facebook Photo", "type": "main", "index": 0}],
      [{"node": "Post Facebook Feed", "type": "main", "index": 0}]
    ]},
    "Post Facebook Photo": {"main": [[{"node": "Normalize Result FB Photo", "type": "main", "index": 0}]]},
    "Post Facebook Feed": {"main": [[{"node": "Normalize Result FB Feed", "type": "main", "index": 0}]]},
    "Create Instagram Media": {"main": [[{"node": "Publish Instagram Media", "type": "main", "index": 0}]]},
    "Publish Instagram Media": {"main": [[{"node": "Result IG Publish", "type": "main", "index": 0}]]},
    "Result IG Publish": {"main": [[{"node": "Aggregate", "type": "main", "index": 0}]]},
    "Normalize Result FB Photo": {"main": [[{"node": "Aggregate", "type": "main", "index": 0}]]},
    "Normalize Result FB Feed": {"main": [[{"node": "Aggregate", "type": "main", "index": 0}]]},
    "Post Tweet": {"main": [[{"node": "Result Twitter", "type": "main", "index": 0}]]},
    "Result Twitter": {"main": [[{"node": "Aggregate", "type": "main", "index": 0}]]},
    "Aggregate": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  },
  "active": true,
  "settings": {"executionOrder": "v1"},
  "id": "lhONXVwi3wBeWtIw"
}
