n8n/user-workflow-template.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "template",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Inbound Post (Webhook)1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2288,
        384
      ],
      "id": "a0f6bbb1-968d-4c22-8f08-e8fbbcad493d",
      "webhookId": "4f26a6d4-fa78-4d0e-bbec-40c97bc44e08"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        928,
        336
      ],
      "id": "79e4cd52-692b-4d52-935e-365d0ccf07a2"
    },
    {
      "parameters": {
        "functionCode": "// Fan-out platforms: emit one item per requested platform\nconst raw = (items[0].json.body) ? items[0].json.body : items[0].json;\nconst content = raw.content_text || raw.content || '';\nlet platforms = Array.isArray(raw.platforms) ? raw.platforms.filter(p=>p) : (raw.platform ? [raw.platform] : []);\nplatforms = platforms.map(p=>String(p).toLowerCase());\nif (!platforms.length) platforms = ['facebook'];\nlet media = [];\nif (Array.isArray(raw.media)) media = raw.media.filter(u=> typeof u === 'string' && /^https?:/.test(u));\nelse if (typeof raw.media === 'string' && /^https?:/.test(raw.media)) media = [raw.media];\nconst hashtags = Array.isArray(raw.hashtags) ? raw.hashtags.filter(h=> typeof h === 'string') : (typeof raw.hashtags === 'string' ? raw.hashtags.split(/\\s+/).filter(s=>s.startsWith('#')) : []);\nreturn platforms.map(p=>({ json: { content_text: content, platform: p, media, hasImage: !!media[0], hashtags } }));"
      },
      "name": "Fanout Platforms",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1936,
        384
      ],
      "id": "acf92b39-354c-4907-b6b8-bea89e2864c0"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.platform}}",
                    "rightValue": "facebook",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fb"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.platform}}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ig"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.platform}}",
                    "rightValue": "twitter",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "tw"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0f59d49c-756f-4dcf-afbe-07316b48bfd2",
                    "leftValue": "={{$json.platform}}",
                    "rightValue": "linkedin",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "name": "Switch Platform",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1584,
        352
      ],
      "id": "fc8d3769-b03f-43db-9ea2-290297f664cd"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.hasImage}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF FB Has Image",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1216,
        -80
      ],
      "id": "2bb3880f-2bb2-4133-98e7-447ef0f0c3a6"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{$json.content_text}}"
              }
            ]
          }
        }
      },
      "name": "Post Facebook Feed",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -816,
        64
      ],
      "id": "a6032c63-b495-43d2-a127-a978aec24383",
      "disabled": true
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841449301482656",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "caption",
                "value": "={{ $json.content_text }}"
              },
              {
                "name": "image_url",
                "value": "={{ $json.media[0] }}"
              }
            ]
          }
        }
      },
      "name": "Create Instagram Media",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -1104,
        352
      ],
      "id": "525713d9-4d66-4bf6-aed0-b36333fdd1ba",
      "credentials": {
        "facebookGraphApi": {
          "id": "EfUlGSmnRRJ1xPnt",
          "name": "insta"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841449301482656",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{$json.id}}"
              }
            ]
          }
        }
      },
      "name": "Publish Instagram Media",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -832,
        352
      ],
      "id": "7c78dd28-9b5e-4e6b-8c99-bb64d10f21ef",
      "credentials": {
        "facebookGraphApi": {
          "id": "EfUlGSmnRRJ1xPnt",
          "name": "insta"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "text": "={{$json.content_text}}",
        "additionalFields": {}
      },
      "name": "Post Tweet",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        -800,
        608
      ],
      "id": "4baa0043-cd3f-42d5-ae8f-a374cce4be82",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    author: \"urn:li:person:REPLACE_WITH_YOUR_URN\",          // đổi nếu cần (person/org)\n    lifecycleState: \"PUBLISHED\",\n\n    specificContent: {\n      \"com.linkedin.ugc.ShareContent\": {\n        shareCommentary: {\n          text: $('Fanout Platforms').item.json.content_text\n        },\n\n        // so sánh có asset hay không để quyết định post ảnh hay text-only\n        shareMediaCategory: (\n          (\n            $json.asset                      // nếu asset đã được map ra item hiện tại\n          )\n          ? \"IMAGE\"\n          : \"NONE\"\n        ),\n\n        // nếu có asset -> media array; không có -> []\n        media: (\n          (\n            $json.asset ||\n            $('HTTP Request').item.json.value?.asset ||\n            $('HTTP Request').item.json.asset\n          )\n          ? [\n              {\n                status: \"READY\",\n                media:\n                  $json.asset ||\n                  $('HTTP Request').item.json.value?.asset ||\n                  $('HTTP Request').item.json.asset\n              }\n            ]\n          : []\n        )\n      }\n    },\n\n    visibility: {\n      \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n    }\n  })\n}}\n",
        "options": {}
      },
      "name": "Post LinkedIn (placeholder)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -32,
        1088
      ],
      "id": "9830a8c7-8581-4c52-8de9-6b1388b9ea45",
      "credentials": {}
    },
    {
      "parameters": {
        "functionCode": "// Standardize platform result\nconst inJson = items[0].json;\nconst raw = inJson || {};\nconst id = raw.id || raw.postId || raw.externalPostId || raw.creation_id || null;\nreturn [{ json: { platform: raw.platform || $json.platform || 'unknown', success: !raw.error, externalPostId: id, error: raw.error || null, raw } }];"
      },
      "name": "Normalize Result FB Photo",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -432,
        -320
      ],
      "id": "d5025f72-ceda-4dcb-b268-f83ff972f13c"
    },
    {
      "parameters": {
        "functionCode": "const r = items[0].json; const id = r.id || r.postId || r.externalPostId || null; return [{ json: { platform: 'facebook', success: !r.error, externalPostId: id, error: r.error || null, raw: r } }];"
      },
      "name": "Normalize Result FB Feed",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -416,
        64
      ],
      "id": "37170abb-1810-4d6d-b612-dea45abf1992"
    },
    {
      "parameters": {
        "functionCode": "const r = items[0].json; const id = r.id || r.externalPostId || null; return [{ json: { platform: 'instagram', success: !r.error, externalPostId: id, error: r.error || null, raw: r } }];"
      },
      "name": "Result IG Publish",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -496,
        352
      ],
      "id": "cf23721e-a1a7-428b-bd60-2bb02c2653ad"
    },
    {
      "parameters": {
        "functionCode": "const r = items[0].json; return [{ json: { platform: 'twitter', success: !r.error, externalPostId: r.id || null, error: r.error || null, raw: r } }];"
      },
      "name": "Result Twitter",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -464,
        608
      ],
      "id": "db40df9b-d5a5-48f6-b7d9-71af651cbbe9",
      "disabled": true
    },
    {
      "parameters": {
        "functionCode": "const r = items[0].json; const id = r.id || r.postId || null; return [{ json: { platform: 'linkedin', success: !r.error, externalPostId: id, error: r.error || null, raw: r } }];"
      },
      "name": "Result LinkedIn",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        160,
        688
      ],
      "id": "cb4c8b95-d583-4a6b-b647-d7dd9bb733c9"
    },
    {
      "parameters": {
        "functionCode": "// Aggregate accepts variable number of platform result items.\n// Each incoming item already normalized.\nif (!items || !items.length) {\n  return [{ json: { success: true, results: [], warning: 'No platform results' } }];\n}\nreturn [{ json: { success: true, results: items.map(i => i.json) } }];"
      },
      "name": "Aggregate",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        384,
        336
      ],
      "id": "705af5b9-dbcd-437f-9830-9666653921dc"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "url",
                "value": "={{$json.media[0]}}"
              },
              {
                "name": "caption",
                "value": "={{$json.content_text}}"
              }
            ]
          }
        }
      },
      "name": "Post Facebook Photo1",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -816,
        -320
      ],
      "id": "422d9611-a403-43de-aacd-999ead118aa8",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/assets?action=registerUpload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"registerUploadRequest\": {\n    \"owner\": \"urn:li:person:REPLACE_WITH_YOUR_URN\",\n    \"recipes\": [\"urn:li:digitalmediaRecipe:feedshare-image\"],\n    \"serviceRelationships\": [\n      {\n        \"relationshipType\": \"OWNER\",\n        \"identifier\": \"urn:li:userGeneratedContent\"\n      }\n    ]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -960,
        880
      ],
      "id": "045fcfe8-faaf-4fe6-b05d-99351363387e",
      "name": "HTTP Request",
      "credentials": {}
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.value.uploadMechanism['com.linkedin.digitalmedia.uploading.MediaUploadHttpRequest'].uploadUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "={{$binary.data.mimeType}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -496,
        880
      ],
      "id": "fccb952b-24fe-4880-9eb1-16e677b675df",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "={{ $('IF Linkedin Has Image').item.json.media[0] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        880
      ],
      "id": "d578638d-c2af-412f-ab6a-21cebe1bc785",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.hasImage}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF Linkedin Has Image",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1184,
        1072
      ],
      "id": "e050aa8d-7c7b-42ac-a410-8dbbb21ba4a9"
    },
    {
      "parameters": {
        "jsCode": "const item = items[0].json;\nreturn [{\n  json: {\n    content_text: item.content_text,\n    asset:                  $('HTTP Request').item.json.value?.asset ||\n                  $('HTTP Request').item.json.asset||item.asset || null\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        880
      ],
      "id": "2eef375c-4558-45bb-aa12-04f368cb999c",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "Inbound Post (Webhook)1": {
      "main": [
        [
          {
            "node": "Fanout Platforms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fanout Platforms": {
      "main": [
        [
          {
            "node": "Switch Platform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Platform": {
      "main": [
        [
          {
            "node": "IF FB Has Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Instagram Media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Tweet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Linkedin Has Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF FB Has Image": {
      "main": [
        [
          {
            "node": "Post Facebook Photo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Facebook Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Facebook Feed": {
      "main": [
        [
          {
            "node": "Normalize Result FB Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Instagram Media": {
      "main": [
        [
          {
            "node": "Publish Instagram Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Instagram Media": {
      "main": [
        [
          {
            "node": "Result IG Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Tweet": {
      "main": [
        [
          {
            "node": "Result Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post LinkedIn (placeholder)": {
      "main": [
        [
          {
            "node": "Result LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Result FB Photo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Result FB Feed": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Result IG Publish": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Result Twitter": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Result LinkedIn": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Facebook Photo1": {
      "main": [
        [
          {
            "node": "Normalize Result FB Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Linkedin Has Image": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post LinkedIn (placeholder)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Post LinkedIn (placeholder)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7435dce5e82963b5917f5dd085e640d9e48f3eee1559038e5ee2e732f7bb4630"
  }
}